@font-face {
     font-family: 'icomoon';
     src: url('../fonts/icomoon.eot?34csft');
     src: url('../fonts/icomoon.eot?34csft#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?34csft') format('truetype'), url('../fonts/icomoon.woff?34csft') format('woff'), url('../fonts/icomoon.svg?34csft#icomoon') format('svg');
     font-weight: normal;
     font-style: normal;
     font-display: block;
}

i {
     /* use !important to prevent issues with browser extensions that change fonts */
     font-family: 'icomoon' !important;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     /* Better Font Rendering =========== */
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     color: rgb(108, 77, 121);
     font-size: 24px;
}

.icons-home2:before {
     content: "\e915";
}

.icons-menu:before {
     content: "\e9bd";
}

.icons-eye1:before {
     content: "\e9ce";
}

.icons-eye-blocked:before {
     content: "\e9d1";
}

.icons-cancel-circle:before {
     content: "\ea0d";
}

.icons-blocked:before {
     content: "\ea0e";
}

.icons-cross:before {
     content: "\ea0f";
}

.icons-checkmark:before {
     content: "\ea10";
}

.icons-checkmark2:before {
     content: "\ea11";
}

.icons-arrow-right:before {
     content: "\ea34";
}

.icons-arrow-left:before {
     content: "\ea38";
}

.icons-x-altx-alt:before {
     content: "\e90a";
}

.icons-clipboard:before {
     content: "\e900";
}

.icons-board:before {
     content: "\e900";
}

.icons-signup:before {
     content: "\e900";
}

.icons-register:before {
     content: "\e900";
}

.icons-agreement:before {
     content: "\e900";
}

.icons-cancel1:before {
     content: "\e90e";
}

.icons-close1:before {
     content: "\e90e";
}

.icons-cancel2:before {
     content: "\e90f";
}

.icons-close2:before {
     content: "\e90f";
}

.icons-flag:before {
     content: "\e914";
}

.icons-lock:before {
     content: "\e910";
}

.icons-envelope:before {
     content: "\e911";
     font-size: 20px;
}

.icons-phone:before {
     content: "\e912";
}

.icons-user:before {
     content: "\e913";
}

.icons-check-circle:before {
     content: "\e90b";
}

.icons-eye-slash:before {
     content: "\e90c";
}

.icons-eye:before {
     content: "\e90d";
}

.icons-google-plus:before {
     content: "\e909";
}

.icons-linkedin:before {
     content: "\e901";
}

.icons-twitter:before {
     content: "\e902";
}

.icons-facebook:before {
     content: "\e903";
}

.icons-sign-in:before {
     content: "\e904";
}

.icons-suitcase:before {
     content: "\e905";
}

.icons-cart:before {
     content: "\e906";
}

.icons-heart:before {
     content: "\e907";
}

.icons-user1:before {
     content: "\e908";
}