@import './reset';
@import './font';
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Montserrat+Alternates|Orbitron|Russo+One&display=swap');
// variables
$backgroundColor:#2A1B30;

//mixins
@mixin container {
     font-family: 'Chakra Petch', sans-serif;
     background-color: $backgroundColor;
     box-shadow: 4px 0px 11px 0px rgba(0, 0, 0, 0.75);
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     flex-flow: column;
     text-align: center;

     @media only screen and (max-width: 425px) {
          width: 100%;
     }

     @media only screen and (max-width: 768px) {
          width: 85%;
     }

     @media only screen and (max-width: 375px) {
          width: 100%;
     }
}

@mixin wrapper {
     display: flex;
     justify-content: center;
     width: 100%;
     height: 625px;
     margin: 0 auto;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     overflow: hidden;
     font-family: 'Chakra Petch', sans-serif;
     //  font-family: 'Russo One', sans-serif;
     //  font-family: 'Orbitron', sans-serif;
     //  font-family: 'Montserrat Alternates', sans-serif;
     background-image: linear-gradient(to right bottom, #422e4c, #41314c, #41334b, #40364a, #403849, #41374d, #433652, #443556, #483060, #4c2969, #512071, #571178);

     display: flex;
     justify-content: center;
     width: 100%;
     height: 625px;
     margin: 0 auto;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     overflow: hidden;
     font-family: 'Chakra Petch', sans-serif;
     //  font-family: 'Russo One', sans-serif;
     //  font-family: 'Orbitron', sans-serif;
     //  font-family: 'Montserrat Alternates', sans-serif;
     background-image: linear-gradient(to right bottom, #422e4c, #41314c, #41334b, #40364a, #403849, #41374d, #433652, #443556, #483060, #4c2969, #512071, #571178);

}

@mixin inputbox {
     padding: 10px;
     position: relative;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

::placeholder {
     color: white;
     opacity: 0.2;
}

h2 {
     color: white;
}

.heading {
     text-align: center;
     color: white;
     margin-top: 30px;
     padding: 30px, 50px;

     h1 {
          font-size: 90px;

          @media only screen and (max-width: 425px) {
               font-size: 90px;
          }

          @media only screen and (max-width: 768px) {
               font-size: 80px;
          }

          @media only screen and (max-width: 375px) {
               font-size: 50px;
          }
     }
}

input {
     border: none;
     background-color: $backgroundColor;
     border-bottom: 1px solid white;
     padding: 4px 20px 4px 2px;
     color: white;
     width: 80%;
     font-size: 26px;
}

button {
     background-color: #495F64;
}

#wrapper {
     @include wrapper();

     .bg {
          display: none;
          background-color: #fff;
     }
}

.container {
     @include container();
     width: 500px;
     height: 320px;

     .description {
          margin-top: 10px;
          color: white;

          p {
               font-size: 24px;
          }
     }
}

.container-registration {
     @include container();
     width: 600px;
     height: 400px;
}

.form-box {
     display: none;
     text-align: center;
     display: flex;
     flex-flow: column;
     margin-top: 50px;

     .username {
          @include inputbox();
     }

     .password {
          @include inputbox();
     }

     label {
          left: 10px;
          position: absolute;
          top: 14px;
          transition: all .25s ease;
          pointer-events: none;
     }

     input:focus~label,
     input:valid~label {
          top: -6px;
          opacity: 0.8;
          color: green;
     }

     #error-block {
          color: #f28f6a;
     }

     .submit-btn {
          input {
               background-color: unset;
               border: 1px solid white;
               margin: 10px;
               width: 50%;
          }

          input:hover {
               background-color: #290516;
          }
     }
}

.registration-form-box {
     .username {
          @include inputbox();
     }

     .password {
          @include inputbox();

          .password-eye {
               position: absolute;
               top: 10px;
               right: 40px;
          }
     }

     .confirm-password {
          @include inputbox();
     }

     .fullname {
          @include inputbox();

          input {
               text-transform: capitalize;
          }
     }

     .email {
          @include inputbox();
     }

     label {
          display: none;
          position: absolute;
          transition: all .25s ease;
          pointer-events: none;
          top: -6px;
          display: block;
          font-size: 14px;
          right: 50px;
          color: #f28f6a
     }

     .register-btn {
          input {
               background-color: unset;
               border: 1px solid white;
               margin: 10px;
               width: 50%;
          }

          input:hover {
               background-color: #290516;
          }
     }
}

//link to registration page
.goto-registration {
     span {
          color: white;
     }

     #goto-registration {
          text-decoration: underline;
          background-color: unset;
          border: none;
          margin: 0;
          color: white;
     }
}

//scss for home page for the game
#game-wrapper {
     @include wrapper();

     .bg {
          display: none;
          background-color: #fff;
     }

     header {
          text-align: center;
          color: white;

          .description {

               font-size: 24px;

          }

          .user-info {
               color: #81c3f0;
               padding-top: 20px;
               align-items: center;
               justify-content: center;
          }
     }
}

.game-container {
     @include container();
     width: 850px;
     height: 400px;

     .description {

          color: white;
     }

     p {
          font-size: 40px;
          color: white
     }

     .question {
          color: #0b6b50;
          font-size: 50px;
          margin-top: 20px;

          @media only screen and (max-width: 425px) {
               font-size: 50px;
          }

          @media only screen and (max-width: 768px) {
               font-size: 30px;
          }

          @media only screen and (max-width: 375px) {
               font-size: 20px;
          }
     }

     .questionare {
          display: flex;
          flex-flow: column;
          align-items: space-around;

          @media only screen and (max-width: 425px) {
               align-items: flex-start;
          }

          @media only screen and (max-width: 768px) {
               align-items: flex-start;
          }

          @media only screen and (max-width: 375px) {
               align-items: flex-start;
          }

          margin-top: 40px;
          padding: 0px 200px;

          .option-top {
               display: flex;
               flex-flow: row;
               justify-content: space-between;

               @media only screen and (max-width: 425px) {
                    flex-flow: row;
               }

               @media only screen and (max-width: 768px) {
                    flex-flow: column;
               }

               @media only screen and (max-width: 375px) {
                    flex-flow: column;
               }


          }

          .option-bottom {
               display: flex;
               flex-flow: row;
               justify-content: space-between;

               @media only screen and (max-width: 425px) {
                    flex-flow: row;
               }

               @media only screen and (max-width: 768px) {
                    flex-flow: column;
                    justify-content: center;
               }

               @media only screen and (max-width: 375px) {
                    flex-flow: center;
               }
          }

          .option {
               border: 1px solid white;
               cursor: pointer;
               width: 210px;
               height: 50px;
               margin-top: 20px;
               margin-bottom: 20px;
               position: relative;
               overflow: hidden;
          }

          .option:hover {
               background-color: #1a05227a
          }

          input {
               display: none;
               width: 50%;
          }

          font-size: 10px;
          color: white;

          label {
               position: absolute;
               cursor: pointer;
               height: 30px;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               bottom: -40px;
               font-size: 35px;
               padding: 9px, 4px;
               border-radius: 5px;

               @media only screen and (max-width: 425px) {
                    font-size: 30px;
               }

               @media only screen and (max-width: 768px) {
                    font-size: 20px;
               }

               @media only screen and (max-width: 375px) {
                    font-size: 15px;
               }
          }
     }
}

#logout {
     border: none;
     text-decoration: underline;
     background-color: unset;
     position: absolute;
     right: -30px;
     top: 10px;
     font-size: 20px;
}

#play-again {
     text-decoration: underline;
     color: white;
     cursor: pointer;
}

#play-next {
     display: none;
     color: white;
     cursor: pointer;
}

.score {
     margin-top: 50px;
     margin-bottom: 10px;
     padding: 5px;
     line-height: 70px;
}

.score-value {
     margin-top: 15px;
     color: white;
     border: 1px solid white;
     background-color: unset;
     height: 85px;
     width: 85px;
     border-radius: 50%;
     display: inline-block;
}